---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";

const frase = "frase chida2"
const G = "https://api.pexels.com/v1/search?query=abstract"
const apikey = "JgtCj4EPud1LBg59LUeNY4y3sE1FjnOxLaKxKBDHaRc7rD0ek2EFapSZ"

// /*data imagenes*/
// let data = [];

// const fetchData = async () =>{
//   try {
//     const response = await fetch("https://api.pexels.com/v1/search?query=abstract",{
//       headers:{
//         "Authorization":apikey
//       }
//     });
//     data = await response.json();
//     return  data.photos[1].src.large;
//   } catch (error) {
//     console.error("Error fetching data:", error);
//   }
// }

// var img = "";
// fetchData()
//   .then(img1 => {
//     if (img1) {
//       console.log("ruta:" + img1);
//        img = img1;
//     } else {
//       console.error("Error: No image URL found");
//     }
//   })
//   .catch(error => {
//     console.error("Error fetching image:", error);
//   });

const data = await fetch('https://api.pexels.com/v1/search?query=volcanes', {headers:{"Authorization":apikey}}).then(res => res.json());
console.log(data.photos[1].src.large)
const photos = data.photos;

---

<Layout title="Cards.">
  <main>
    <Header />
    <div class="contCards">
      {
        photos.length > 0 ? (
          photos.map((photo: { src: { large: string } }) => (
          <Card img={photo.src.large} frase={frase} />
          ))
        ):(<p>sin fotografias</p>)
      }


      <div></div>
    </div>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }

    .contCards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 0.5rem;
    }

  
    @media screen and (max-width: 900px) {
      .contCards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0.5rem;
      }
    }
  </style>
</Layout>
