---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import Comp from "../components/Com-button.astro";
import Photo from "../components/PhotoPexels.js";
import CompPerso from "../components/CompPerso.astro"
const G = "https://api.pexels.com/v1/search?query=abstract"


---

<Layout title="Cards">
  <CompPerso></CompPerso>
    <!--<Comp/> -->
    <div class="contCards">
      <Card tipo ="tree"/>
    </div>

<style>
    .contCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    padding-bottom: 2rem;
  }

  @media screen and (max-width: 900px) {
    .contCards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.5rem;
    }
  }



</style>

</Layout>

