---
const { img, frase } = Astro.props;
---

<div class="card">

  <div class="contIMG">
    <img
      src="https://images.pexels.com/photos/3780104/pexels-photo-3780104.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/><img />
    <p class="message">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ea quo unde
      vel adipisci blanditiis voluptates eum. Nam, cum minima?
    </p>
  </div>
</div>

<style>
  .card {
    border: solid;
    display: flex;
    flex-direction: column;
    background: #FFFF;
    border-style: none;
    border-radius: 0.5rem;
    padding: 5px;
  }

  .message{
    
  }
  .title, p{
    color:#6b7280;
  }
</style>
