---
const { titleButon,page } = Astro.props;
---
<div class="contbut">
<a class="btnLink" href={page}>
  <slot name="before" />
  {titleButon}
</a>
</div>
<style>
  .btnLink {
    width: 9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:3px;
    border: solid rgb(162, 158, 158);
    border-radius: 0.5rem;
    padding: 0.3rem;
    background:#121419 ;
    }
  .btnLink:hover {
    transform: scale(1.1); /* Escala al 110% en hover */
  }
  .contbut{
    padding-top: 1rem;

    
  }
 

</style>
